{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3 shadow">

    <div class="container-fluid py-5">

        <h1 class="display-4 fw-bold">
            Bienvenido a TurnoFácil
        </h1>

        <p class="lead">
            Sistema de gestión de turnos desarrollado con Django.
        </p>

        <a href="/turnos/" class="btn btn-primary btn-lg">
            Ver Turnos
        </a>

    </div>

</div>

{% endblock %}